{% if contacts %}
    <div id="contacts" class="list-group contacts">
        {% for contact in contacts %}
            <a date-contact-id="{{ contact.id }}" class="contact list-group-item {{ contact.isOnline() ? 'online' : 'disabled offline' }}" role="tab" data-toggle="tab">
                <div class="media">
                    <img id="contact-{{ contact.id }}-avatar" class="avatar pull-left media-object" src="{{ gravatar(contact.email, 50, 'g', 'mm', true) }}" alt="{{ contact.username }}">
                    <div class="media-body">
                        <h4 id="contact-{{ contact.id }}-username" class="username media-heading">{{ contact.username }}</h4>
                        <p id="contact-{{ contact.id }}-status-info" class="contact-status-info"><i class="fa fa-circle"></i> <span>{{ contact.isOnline() ? 'En ligne' : 'Hors Ligne' }}</span></p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endif %}