{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?uglifycss' output='css/compiled/message/message/list.css'
        'bundles/scmessage/css/list.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <h1>Smalt <small>Liste des messages</small></h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% if user and contacts|length > 0 %}
            <div class="row">
                <div class="col-xs-5 col-sm-4 col-md-3">
                    <aside>
                        <nav class="tabs">
                            <div class="panel panel-default">
                                <div class="panel-heading">Mes contacts</div>
                                <div id="contacts-tab" class="list-group contacts">
                                    {% for contact in contacts %}
                                        <a href="#contact-{{ contact.id }}-tab" class="list-group-item {{ contact.isOnline() ? 'online' : 'disabled offline' }}role="tab" data-toggle="tab">
                                            <div class="media">
                                                <img id="contact-{{ contact.id }}-avatar" class="avatar pull-left media-object" src="{{ gravatar(contact.email, 50, 'g', 'mm', true) }}" alt="{{ contact.username }}">
                                                <div class="media-body">
                                                    <h4 id="contact-{{ contact.id }}-username" class="username media-heading">{{ contact.username }}</h4>
                                                    <p><i class="fa fa-circle"></i> <span id="contact-{{ contact.id }}-status-info" class="contact-status-info"></span></p>
                                                </div>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </nav>
                    </aside>
                </div>
                <div class="col-xs-7 col-sm-8 col-md-9">
                    <div class="tab-content">
                        {% for contact in contacts %}
                            <div id="contact-{{ contact.id }}-tab" class="tab-pane {% if loop.first %}active{% endif %}">
                                <div class="panel panel-default">
                                    <div class="panel-heading">{{ contact.username }}</div>
                                    <div id="contact-{{ contact.id }}-messages" class="panel-body messages">

                                    </div>
                                    <div class="panel-body">
                                        <form>
                                            <div class="form-group">
                                                <textarea class="form-control" rows="3"></textarea>
                                            </div>
                                            <div class="form-group text-right">
                                                <button type="submit" class="btn btn-success btn-xs"><i class="fa fa-send"></i> Envoyer</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% else %}
            <h2>Pas encore de contact ?</h2>
            <p><a class="btn btn-default btn-lg"><i class="fa fa-users"></i> Trouver des contacts</a></p>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts filter='?uglifyjs2' output='js/compiled/scmessage/message/list.js'
        'bundles/scmessage/js/Message/list.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
