<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Smalt Fhacktory 2014 - {% block title %}{% endblock %}</title>
        {% block description %}{% endblock %}
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite, ?uglifycss' output='css/compiled/base.css'
                'css/bootstrap.css'
                'components/font-awesome/css/font-awesome.css'
            %}
                <link href="{{ asset_url }}" rel="stylesheet" media="screen">
            {% endstylesheets %}
            {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="wrapper">
            <div id="navbar">
                {% block navbar %}{% endblock %}
            </div>
            <div id="header">
                {% block header %}{% endblock %}
            </div>

            <div id="messages">
                {% for type, messages in app.session.flashbag.all() %}
                    <div class="container">
                        {% for message in messages %}
                            <div class="alert alert-{{ type }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            <div id="content">
                {% block content %}{% endblock %}
            </div>
            <div id="footer">
                {% block footer %}{% endblock %}
            </div>
            {% block javascripts %}
                {% javascripts filter='?uglifyjs2' output='js/compiled/base.js'
                    'js/jquery.js'
                    'js/bootstrap.js'
                %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}

                {% if app.user is not null and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ clank_client() }}

                    <script type="text/javascript">
                        window.WEBSOCKET_SERVER_URI = 'ws://{{ clank_host }}:{{ clank_port }}';
                    </script>

                    {% javascripts filter='?uglifyjs2' output='js/compiled/base/user.js'
                        'bundles/scmessage/js/server.js'
                    %}
                        <script src="{{ asset_url }}"></script>
                    {% endjavascripts %}
                {% endif %}
            {% endblock %}
        </div>
    </body>
</html>
